{% extends "base.html" %} {% block header %}
<nav class="bg-slate-800 navbar flex w-full justify-between z-40">
    
    <a class="m-5 navlink" href="{{ url_for('logins.index') }}">
        <span class="font-extrabold text-white hidden sm:block"><i class="fas fa-house"></i> Home</span>
    </a>
    
    {% if current_user.is_authenticated %}
    <div class="flex items-center">
        <a href="{{ url_for('logins.account') }}"><img src="{{ current_user['avatar'] }}" class="size-8 rounded-full mr-2"></a>
        <a class="font-bold text-white my-5 mr-5 ml-0 navlink" href="{{ url_for('logins.account') }}">Your Profile</a>
        <a class="font-bold my-5 mr-5 ml-0 navlink !bg-red-400/20 hover:!bg-red-500/50 !text-red-400 hover:!text-red-300" href="{{ url_for('logins.logout') }}">Logout</a>
    </div>
    {% else %}
    <div class="flex">
        <a class="navlink" href="{{ url_for('logins.log_in') }}">
        <img src="https://community.akamai.steamstatic.com/public/shared/images/signinthroughsteam/sits_landing.png" class="mt-3 mr-2">
        </a>
    </div>
    {% endif %}
</nav>
{% block content %}{% endblock %}{% endblock %}