{% extends "header.html" %}
{% block content %}

{% if user['profile_background'] and user['preferences']['display_profile_background'] == 'yes' %}
{% if user['is_background_animated'] %}
<video autoplay loop muted id="video-background" class="-z-10 bg-fixed">
  <source src="{{ user['profile_background'] }}" type="video/mp4">
  Your browser does not support the video tag.
</video>

<style>
  #video-background {
    position: fixed;  /* Make the video stay in place even while scrolling */
    top: 0;
    left: 0;
    width: 100vw;     /* Cover the full viewport width */
    height: 100vh;    /* Cover the full viewport height */
    object-fit: cover;
    z-index: -1;      /* Keep the video behind other content */
}
</style>
{% else %}
<style>
  body {
      background-image: url("{{user['profile_background']}}");
      background-position: top center; /* Ensures the image is aligned to the top and centered horizontally */
      background-repeat: no-repeat; /* Prevents the background image from repeating */
  }
</style>
{% endif %}
{% endif %}

<body class="pb-8">
<div class="max-w-8xl mx-auto rounded-2xl overflow-hidden shadow-lg mt-5 flex pt-5" style="background: linear-gradient(to bottom, rgba(15, 23, 42, 0.9), rgba(14, 46, 89, 0.9));">

  <!-- User Info Container -->
  <div class="flex flex-col items-center justify-center p-5" style="width:400px;">
    <div class="flex items-center justify-center relative w-48 h-48 {% if user['avatar_frame']  %} mb-3 {% endif %}">
      <!-- Avatar image -->
      <img src="{{ user['avatar'] }}" class="absolute w-full h-full object-cover" alt="Avatar">
      
      <!-- Avatar frame, conditionally displayed if exists -->
      {% if user['avatar_frame'] %}
      <img src="{{ user['avatar_frame'] }}" class="absolute w-full h-full object-cover scale-125" alt="Avatar Frame">
      {% endif %}
  </div>
  
  
  
  
    <p class="text-2xl font-extrabold text-white mb-1 text-center">{{ user['name'] }}</p>
    <p class="text-lg mb-2 text-white font-thin">Level
      <span class="
      ml-1 rounded-full px-1.5 py-0.25 text-lg font-thin text-white
      {% set level_num = user['level'] | int %}
      {% if level_num >= 0 and level_num <= 9 %} ring-2 ring-gray-500
      {% elif level_num >= 10 and level_num <= 19 %} ring-2 ring-red-500
      {% elif level_num >= 20 and level_num <= 29 %} ring-2 ring-orange-500
      {% elif level_num >= 30 and level_num <= 39 %} ring-2 ring-yellow-500
      {% elif level_num >= 40 and level_num <= 49 %} ring-2 ring-green-500
      {% elif level_num >= 50 and level_num <= 59 %} ring-2 ring-blue-500
      {% elif level_num >= 60 and level_num <= 69 %} ring-2 ring-purple-500
      {% elif level_num >= 70%} ring-2 ring-pink-500
      {% endif %}
      ">
      {{ user['level'] }}
      </span>
  </p>
    <p class="text-xs text-gray-400">ID: {{ user['steamid'] }}</p>

    {% if has_favorites %}
    <p class="text-lg text-white font-semibold mt-5">Favorite Games</p>
    <div class="bg-slate-500 rounded-xl grid grid-cols-8 gap-1">
      {% for game in sorted_games %}
      {% if game['is_favorite'] %}
      <img src="{{ game['img_icon'] }}" class="rounded-full m-1">
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div>
  <p class="text-2xl font-extrabold text-white pb-2">{{ user['name'] }}'s Game Library</p>
  <!-- Games List Container -->
  <div class="results-container flex flex-col overflow-y-auto mr-10 bg-gray-300 rounded-xl bg-opacity-10 h-lvh pl-5 mb-5" style="max-height: 500px; width: 700px;">
    {% if user['preferences']['game_library_privacy'] == 'public' %}
    {% if sorted_games %}
    {% for game in sorted_games %}
    <a href="https://store.steampowered.com/app/{{ game['appid'] }}" target="_blank">
      <div class="bg-gradient-to-t from-slate-800 to-slate-700 rounded-lg overflow-hidden shadow-lg my-1 hover:scale-95 transition-transform duration-3000"
       style="transition: transform 0.3s ease; width: 97%;">
        <div class="flex items-center justify-start p-5 space-x-4">
          <img src="https://cdn.akamai.steamstatic.com/steam/apps/{{game['appid']}}/capsule_184x69.jpg" class="h-10 object-cover" alt="Game Icon">
          <div class="flex flex-col justify-center">
            <p class="text-white text-md font-extrabold">{{ game['name'] }}
              {% if user['preferences']['playtime_privacy'] == 'public' %}
              <span class="text-gray-300 text-xs font-semibold">Playtime: {{ game['playtime_hours'] }} hours</span></p>
              {% endif %}
            <p class="text-xs text-white">{{ game['description'] }}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <div class="flex flex-col items-center justify-center text-gray-300 h-lvh">

        <i class="fa-solid fa-triangle-exclamation fa-3x"></i>
      <p>User's game library could not be retrieved</p>
      <p class="text-xs">(Set to "private" or "friends only" on Steam, or library is empty)</p>

    </div>
    {% endif %}

    {% else %}
      <div class="flex flex-col items-center justify-center text-gray-300 h-lvh">

        <i class="fa-solid fa-lock fa-3x"></i>
      <p>User's game library is private</p>

      </div>
    {% endif %}
  </div>
  
</div>
<div class="container mx-auto flex flex-col items-center justify-center">

  <h1 class="reviews-title font-extrabold text-white text-2xl">{{user.name}}'s Reviews</h1>
  <p class="reviews-count text-xs text-gray-400 mb-1"> {{ reviews | length }} reviews </p>

<div class="flex flex-col overflow-y-auto mr-10 bg-gray-300 rounded-xl bg-opacity-10 h-lvh pl-5 mb-2" style="max-height: 350px; width: 500px;">
    <ul class="review-container flex flex-col items-center justify-center">
      
        
      {% for review in reviews %}
      <div class="pl-2 pr-20 py-2 my-2 bg-gradient-to-t from-slate-800 to-slate-700 rounded-lg overflow-hidden" style="width: 97%;">
        <li class="review flex gap-2 mr-2">
          <img class="h-20 w-20 rounded-full" src="{{ review.commenter.avatar }}" alt="" />
          <div class="w-full">
            <a href="{{ url_for('users.userprofile', steamid=review.commenter.steamid)}}"><p class="commenter-name text-white font-extrabold">{{ review.commenter.name }}</p></a>
            <p class="review-date text-xs text-gray-400">{{ review.date }}</span>
            <p class="review-content text-white">{{ review.content }}</p>
          </div>
        </li>
      </div>
      {% endfor %}
    </ul>
    </div>
    <div>
      {% if current_user.is_authenticated %}
          {# Movie review submission form #}
          <div class="">
            <form method="POST" action="" class="review-form">
              {{ form.csrf_token }}
              <p class="text-white">Leave a review!</p> 
              <div class="form-group review-input" >
                {{ form.text(class="form-content") }}
                {% if form.text.errors %}
                  <div class="alert alert-warning" role="alert">
                    {% for error in form.text.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              {{ form.submit(class="review-button btn bg-green-500 hover:bg-green-600 rounded-lg text-white px-2 mt-1") }}
            </form>
          </div>
        {% else %}
        <p class="text-white"><i class="fa-solid fa-circle-exclamation"></i> Must be logged in to post reviews!</p>
        {% endif %}
      </div>
</div>

</div>
</div>
</body>


{% endblock %}
