{% extends "header.html" %}
{% block content %}

{% if user['profile_background'] and user['preferences']['display_profile_background'] == "yes"%}
{% if user['is_background_animated'] %}
<video autoplay loop muted id="video-background" class="-z-10 bg-fixed">
  <source src="{{ user['profile_background'] }}" type="video/mp4">
  Your browser does not support the video tag.
</video>

<style>
  #video-background {
    position: fixed;  /* Make the video stay in place even while scrolling */
    top: 0;
    left: 0;
    width: 100vw;     /* Cover the full viewport width */
    height: 100vh;    /* Cover the full viewport height */
    object-fit: cover;
    z-index: -1;      /* Keep the video behind other content */
}
</style>
{% else %}
<style>
  body {
      background-image: url("{{user['profile_background']}}");
      background-position: top center; /* Ensures the image is aligned to the top and centered horizontally */
      background-repeat: no-repeat; /* Prevents the background image from repeating */
  }
</style>
{% endif %}
{% endif %}

<body class="pb-8">
<div class="max-w-5xl mx-auto rounded-2xl overflow-hidden shadow-lg mt-5 flex pt-5" style="background: linear-gradient(to bottom, rgba(15, 23, 42, 0.9), rgba(14, 46, 89, 0.9));">

  <!-- User Info Container -->
  <div class="flex flex-col items-center justify-center p-5" style="width:400px;">
    <div class="flex items-center justify-center relative w-48 h-48 {% if user['avatar_frame']  %} mb-3 {% endif %}">
      <!-- Avatar image -->
      <img src="{{ user['avatar'] }}" class="absolute w-full h-full object-cover" alt="Avatar">
      
      <!-- Avatar frame, conditionally displayed if exists -->
      {% if user['avatar_frame'] != "" %}
      <img src="{{ user['avatar_frame'] }}" class="absolute w-full h-full object-cover scale-125" alt="Avatar Frame">
      {% endif %}
  </div>
  
  
  
  
    <p class="text-2xl font-extrabold text-white mb-1 text-center">{{ user['name'] }}</p>
    <p class="text-lg mb-2 text-white font-thin">Level
      <span class="
      ml-1 rounded-full px-1.5 py-0.25 text-lg font-thin text-white
      {% set level_num = user['level'] | int %}
      {% if level_num >= 0 and level_num <= 9 %} ring-2 ring-gray-500
      {% elif level_num >= 10 and level_num <= 19 %} ring-2 ring-red-500
      {% elif level_num >= 20 and level_num <= 29 %} ring-2 ring-orange-500
      {% elif level_num >= 30 and level_num <= 39 %} ring-2 ring-yellow-500
      {% elif level_num >= 40 and level_num <= 49 %} ring-2 ring-green-500
      {% elif level_num >= 50 and level_num <= 59 %} ring-2 ring-blue-500
      {% elif level_num >= 60 and level_num <= 69 %} ring-2 ring-purple-500
      {% elif level_num >= 70%} ring-2 ring-pink-500
      {% endif %}
      ">
      {{ user['level'] }}
      </span>
  </p>
    <p class="text-xs text-gray-400">ID: {{ user['steamid'] }}</p>

    <script>
      function toggleModal() {
        var modal = document.getElementById('preferencesModal');
        modal.classList.toggle('hidden');
    }
    </script>

    <button onclick="toggleModal()" class="btn bg-gray-500 hover:bg-gray-600 rounded-lg text-white px-2 mt-5"><i class="fa-solid fa-pencil"></i> Edit Preferences</button>


  </div>

  <div>
    <form method="POST" action="{{ url_for('account') }}">
      {{ form.hidden_tag() }}
      {{ form.csrf_token }}

      <div class="flex items-center"> <!-- Flex container with alignment -->
        <p class="text-2xl font-extrabold text-white pb-2 mr-5">Your Game Library</p> 
        <span class="text-gray-500">
        {% if user['preferences']['game_library_privacy'] == "private" %}
        <i class="fa-solid fa-lock"></i> Private
        {% else %}
        <i class="fa-solid fa-lock-open"></i> Public
        {% endif %}
        </span>
        {{ form.submit(class="btn bg-green-500 hover:bg-green-600 rounded-lg text-white px-2 ml-2 hidden", id="updatebutton") }}
      
      </div>
      
  <!-- Games List Container -->
  <div class="results-container flex flex-col overflow-y-auto mr-10 bg-gray-300 rounded-xl bg-opacity-10 h-lvh pl-5 mb-5" style="max-height: 500px; width: 700px;">
    
    {% if sorted_games %}

    <style>

      input[type="checkbox"]:checked + label .emptystar {
        display: none
      }

      input[type="checkbox"]:checked + label .fullstar {
        display: block
      }

      input[type="checkbox"] {
        display: none
      }


  </style>

  <script>

    function enableupdatebutton() {
      document.getElementById("updatebutton").style.display = "block";
    }

  </script>
    {% for game in sorted_games %}
    <div class="flex flex-row items-center">
      {{ form['' ~ game['appid']] }}
      <label for="{{ game['appid'] }}">
        <i class="fa-regular fa-star fa-1.5x emptystar text-gray-500 hover:text-yellow-500" onclick="enableupdatebutton()"></i>
        <i class="fa-solid fa-star fa-1.5x fullstar text-yellow-500 hover:text-yellow-600 hidden" onclick="enableupdatebutton()"></i>
      </label>

    <a href="https://store.steampowered.com/app/{{ game['appid'] }}" target="_blank">
      <div class="bg-gradient-to-t from-slate-800 to-slate-700 rounded-lg overflow-hidden shadow-lg my-1 ml-2 hover:scale-95 transition-transform duration-3000"
       style="transition: transform 0.3s ease; width: 97%;">
        <div class="flex items-center justify-start p-5 space-x-4">
          <img src="https://cdn.akamai.steamstatic.com/steam/apps/{{game['appid']}}/capsule_184x69.jpg" class="h-10 object-cover" alt="Game Icon">
          <div class="flex flex-col justify-center">
            <p class="text-white text-md font-extrabold">{{ game['name'] }}
              <span class="text-gray-300 text-xs font-semibold">Playtime: {{ game['playtime_hours'] }} hours</span></p>
            <p class="text-xs text-white">{{ game['description'] }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
    {% endfor %}
    {% else %}
    <div class="flex flex-col items-center justify-center text-gray-300 h-lvh">
      <i class="fa-solid fa-triangle-exclamation fa-3x"></i>
    <p>Your game library could not be retrieved</p>
    <p class="text-xs">(Set to "private" or "friends only" on Steam)</p>
    </div>
    {% endif %}
  </div>
</div>
</form>

</div>

<div id="preferencesModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden">
  <!-- Modal content -->
  <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white">
      <div class="mt-3 text-center">
          <div class="mx-auto flex items-center justify-between">
              <h3 class="text-lg leading-6 font-extrabold text-gray-900">Edit Preferences</h3>
              <button onclick="toggleModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
          </div>
          <!-- Modal body -->
          <form method="POST" action="{{ url_for('account') }}">
            {{ preferencesform.csrf_token }}

            <div class="items-center px-4 py-3">
              
              <label for="game_library_privacy" class="font-bold mr-2">{{ preferencesform.game_library_privacy.label }}</label>
              {{ preferencesform.game_library_privacy(class="form-control") }}
              <br>

              <label for="playtime_privacy" class="font-bold mr-2">{{ preferencesform.playtime_privacy.label }}</label>
              {{ preferencesform.playtime_privacy(class="form-control") }}
              <br>

              <label for="display_profile_background" class="font-bold mr-2">{{ preferencesform.display_profile_background.label }}</label>
              {{ preferencesform.display_profile_background(class="form-control") }}

              {{ preferencesform.submit(class=" mt-5 px-4 py-2 bg-gray-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500") }}
          </div>
          </form>
          <!-- Modal footer -->
          
      </div>
  </div>
</div>
</body>
{% endblock %}
