{% extends "header.html" %}
{% block content %}

{% if user['profile_background'] %}
<style>
  body {
      background-image: url("{{user['profile_background']}}");
      background-position: top center; /* Ensures the image is aligned to the top and centered horizontally */
      background-repeat: no-repeat; /* Prevents the background image from repeating */
  }
</style>
{% endif %}

<body class="pb-8">
<div class="max-w-5xl mx-auto rounded-2xl overflow-hidden shadow-lg mt-5 flex pt-5" style="background: linear-gradient(to bottom, rgba(15, 23, 42, 0.9), rgba(14, 46, 89, 0.9));">

  <!-- User Info Container -->
  <div class="flex flex-col items-center justify-center p-5" style="width:400px;">
    <img src="{{ user['avatar'] }}" class="w-48 h-48 object-cover" alt="Avatar">
    <p class="text-2xl font-extrabold text-white mb-1 text-center">{{ user['name'] }}</p>
    <p class="text-lg mb-2 text-white font-thin">Level
      <span class="
      ml-1 rounded-full px-1.5 py-0.25 text-lg font-thin text-white
      {% set level_num = user['level'] | int %}
      {% if level_num >= 0 and level_num <= 9 %} ring-2 ring-gray-500
      {% elif level_num >= 10 and level_num <= 19 %} ring-2 ring-red-500
      {% elif level_num >= 20 and level_num <= 29 %} ring-2 ring-orange-500
      {% elif level_num >= 30 and level_num <= 39 %} ring-2 ring-yellow-500
      {% elif level_num >= 40 and level_num <= 49 %} ring-2 ring-green-500
      {% elif level_num >= 50 and level_num <= 59 %} ring-2 ring-blue-500
      {% elif level_num >= 60 and level_num <= 69 %} ring-2 ring-purple-500
      {% elif level_num >= 70%} ring-2 ring-pink-500
      {% endif %}
      ">
      {{ user['level'] }}
      </span>
  </p>
    <p class="text-xs text-gray-400">ID: {{ user['steamid'] }}</p>
  </div>

  <div>
  <p class="text-2xl font-extrabold text-white pb-2">Your Game Library</p>
  <!-- Games List Container -->
  <div class="results-container flex flex-col overflow-y-auto mr-10" style="max-height: 500px; width: 700px;">
    
    {% for game in sorted_games %}
    <a href="https://store.steampowered.com/app/{{ game['appid'] }}">
      <div class="bg-gradient-to-t from-slate-800 to-slate-700 rounded-lg overflow-hidden shadow-lg my-1 hover:scale-95 transition-transform duration-3000"
       style="transition: transform 0.3s ease; width: 97%;">
        <div class="flex items-center justify-start p-5 space-x-4">
          <img src="https://cdn.akamai.steamstatic.com/steam/apps/{{game['appid']}}/capsule_184x69.jpg" class="h-10 object-cover" alt="Game Icon">
          <div class="flex flex-col justify-center">
            <p class="text-white text-md font-extrabold">{{ game['name'] }}
              <span class="text-gray-300 text-xs font-semibold">Playtime: {{ game['playtime_hours'] }} hours</span></p>
            <p class="text-xs text-white">{{ game['description'] }}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

</div>
</body>
{% endblock %}
