{% extends "header.html" %} 
{% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

<div class="results-container">
  <div class="decoration-container"><div class="decoration"></div></div>
  {% for result in results %}
  <a href="/user/{{result['steamid']}}">
  <div class="max-w-sm mx-auto bg-slate-800 rounded-lg overflow-hidden shadow-lg my-5">
    <div class="flex flex-col items-center justify-center p-5">
      <img src="{{ result['avatar'] }}" class="w-32 h-32 object-cover rounded-full" alt="User Avatar">
      <div class="text-center mt-3 text-white">
        <p class="text-lg font-extrabold">{{ result['name'] }}</p>
        <p class="text-sm font-semibold">ID: {{ result['steamid'] }}</p>
      </div>
    </div>
  </div>
  </a>
  
  {% endfor %}
</div>
<div class="reviews">
    <h1 class="reviews-title" style="color: white"> Reviews:
      <small class="reviews-count" style="color: white"> {{ reviews | length }} reviews </small>
    </h1>
    <ul class="review-container" >
      {% for review in reviews %}
        <li class="review flex gap-2">
          <img class="h-20 w-20 rounded-lg" src="data:image/png;base64,{{review.image}}" alt="" />
          <div class="w-full">
            <span class="review-date">{{ review.date }}</span>
            <a class="review-commenter" href="{{ url_for('movies.user_detail', username=review.commenter.username) }}">
              @{{ review.commenter.username }}
            </a>
            <p class="review-content">{{ review.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
      {# Movie review submission form #}
      <div class="container mx-auto">
        <form method="POST" action="" class="review-form">
          {{ form.csrf_token }}
          <div class="form-group review-input">
            {{ form.text.label(style="color: white") }} {{ form.text(class="form-content") }}
            {% if form.text.errors %}
              <div class="alert alert-warning" role="alert">
                {% for error in form.text.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {{ form.submit(class="review-button", style="color: white") }}
        </form>
      </div>
    {% endif %}
  </div>
  <div class="w-0 lg:w-96"></div>
</div>
{% endblock content %}
