{% extends "header.html" %} 
{% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

<div class="results-container">
  <div class="decoration-container"><div class="decoration"></div></div>
  {% for result in results %}
  <a href="/user/{{result['steamid']}}">
  <div class="max-w-sm mx-auto bg-slate-800 rounded-lg overflow-hidden shadow-lg my-5">
    <div class="flex flex-col items-center justify-center p-5">
      <img src="{{ result['avatar'] }}" class="w-32 h-32 object-cover rounded-full" alt="User Avatar">
      <div class="text-center mt-3 text-white">
        <p class="text-lg font-extrabold">{{ result['name'] }}</p>
        <p class="text-sm font-semibold">ID: {{ result['steamid'] }}</p>
      </div>
    </div>
  </div>
  </a>
  
  {% endfor %}
{% endblock content %}
